@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
body {
    font-family: 'Nanum Gothic', cursive;
    background-color: #dcdcdc;
}

a {
    text-decoration: none;
}

a:hover {
    zoom: 1;
    /* ie 5,6,7 bug fix */
    filter: alpha(opacity=80);
    opacity: 0.8;
}

a:visited {
    color: inherit;
}

#header {
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#header h2 {
    font-size: 2.5rem;
}

#main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#main #insert_tarae .btn_insert {
	font-family: 'Nanum Gothic', cursive;
	width: 150px;


}

#main #display_tarae .btn_tarae {
	background-color: #fff;
	font-family: 'Nanum Gothic', cursive;
	width: 200px;
	text-align: left;


}